:root{
    --main-text-color: #212121;
    --second-text-color: #757575;
    --main-bg-color: #ffffff;
    --active-link-hover-color: #2196F3;
    --footer-contacts-color: #FFFFFF99;
    --bg-color-section-black: #2F303A;
    --bg-color-section-white: #F5F4FA;
    --bg-button-color: #2196F3;
    --bg-buton-hover-color: #1b65a2;
}

body{
    background-color: #fff;
    color: var(--main-text-color);

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
}

/*Студия*/
/*Логотип*/
.logo{
    color: var(--main-text-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19em;
    
    text-decoration: none;
}

.logo-web{
    color: var(--active-link-hover-color);
}

/*Навигация по сайту*/
.navigate-list{
    list-style: none;
}

.navigate-link{
    color: var(--main-text-color);
    
    font-weight: 500;
    line-height: 1.14em;
    letter-spacing: 0.02em;

    text-decoration: none;
}

.navigate-link:hover,
.navigate-link:focus{
    color:var(--active-link-hover-color);
}

/*Активная вкладка*/
.active{
    color: var(--active-link-hover-color);
}

/*E-mail и телефон*/
.mail-head,
.tel-head{ 
    color: var(--second-text-color);

    font-weight: 500;
   
    text-decoration: none;
}

.mail-head:hover,
.mail-head:focus,
.tel-head:hover,
.tel-head:focus{
    color: var(--active-link-hover-color);
}

/*Заказ услуги*/
.order{
    color: var(--main-bg-color);
    background-color: var(--bg-color-section-black);

    letter-spacing: 0.06em;

    text-align: center;
}

.order-head{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36em;
    
    text-transform: uppercase;
}

.order-btn{
    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;

    align-items: center;
    
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.order-btn:hover,
.order-btn:focus{
    background-color: var(--bg-buton-hover-color);
}

/*Настройки скрытого класса*/
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*Наши сильные стороны*/
.strongths-list{
    list-style: none;
}

.strongths-list h3{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.88em;

    text-transform: uppercase;
}

.strongths-list p{
    color: var(--second-text-color);

    line-height: 1.71em;
}

/*Чем мы занимаемся*/
.doing-head{
    text-align: center;
}

.doing-list{
    list-style: none;
}

.team{
    background-color: var(--bg-color-section-white);
}

/*Наша команда*/
.team-head{
    text-align: center;
}

.team-list{
    list-style: none;
}

.team-list h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19em;

    text-align: center;
}

.team-list p{
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.19em;

    text-align: center;
}

/*Footer*/
footer{
    background-color: var(--bg-color-section-black);
}

footer > .logo{
    color: var(--main-bg-color);
}

/*Контакты*/
.address{
    font-style: normal;
    list-style: none;
}

.address-locate{
    color: var(--main-bg-color);
    text-decoration: none;
}

.address-locate:hover,
.address-locate:focus{
    color: var(--active-link-hover-color);
}

.address-link{
    color: var(--footer-contacts-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus{
    color: var(--active-link-hover-color);
}

/*Портфолио*/
/*Навигация по странице*/
.navigate-btn{
    color: var(--main-text-color);
    background: var(--bg-color-section-white);
    
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62em;
    letter-spacing: 0.03em;

    text-align: center;
    border-style: none;
    cursor: pointer;
}

.navigate-btn:hover,
.navigate-btn:focus{
    color: var(--main-bg-color);
    background-color: var(--bg-button-color);
    
    border-radius: 4px; 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Примеры работ*/
.example-list{
    list-style: none;
}

.example-list h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
}

.example-list p{
    color: var(--second-text-color);

    font-size: 16px;
    line-height: 1.88em;
}


/*основной цвет текста #212121*/
/* второстипенный цвет текста #757575*/
/*белый текст #FFFFFF*/
/* футер e-mail и телефон #FFFFFF99*/
/* цвет активной ссылки при наведении #2196F3*/