:root{
    --main-text-color: #212121;
    --second-text-color: #757575;
    --white: #fff;
    --active-link-hover-color: #2196F3;
    --footer-contacts-color: #FFFFFF99;
    --bg-color-section-black: #2F303A;
    --bg-color-section-white: #F5F4FA;
    --bg-button-color: #2196F3;
    --bg-buton-hover-color: #1b65a2;
}

body{
    background-color: #fff;
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-text-color);
}

.logo-web{
    color: var(--active-link-hover-color);
}

.navigate-list{
    list-style: none;
}

.navigate-link{
    font-weight: 500;
    color: var(--main-text-color);
    text-decoration: none;
}

.navigate-link:hover,
.navigate-link:focus{
    color:var(--active-link-hover-color);
}

.mail-head,
.tel-head{ 
    font-weight: 500;
    color: var(--second-text-color);
    text-decoration: none;
}

.mail-head:hover,
.mail-head:focus,
.tel-head:hover,
.tel-head:focus{
    color: var(--active-link-hover-color);
}

.order{
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--bg-color-section-black);
    color: var(--white);
}

.order-head{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
}

.order-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    align-items: center;
    background-color: var(--bg-button-color);
    color: var(--white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.order-btn:hover,
.order-btn:focus{
    background-color: var(--bg-buton-hover-color);
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    white-space: nowrap;
    clip-path: insert(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.strongths-list{
    list-style: none;
}

.strongths-list h3{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
}

.strongths-list p{
    line-height: 24px;
    color: var(--second-text-color);
}

.doing-head{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.doing-list{
    list-style: none;
}

.team{
    background-color: var(--bg-color-section-white);
}

.team-head{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
}

.team-list{
    list-style: none;
}

.team-list h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.team-list p{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--second-text-color);
}

footer{
    background-color: var(--bg-color-section-black);
}

footer > .logo{
    color: var(--white);
}

.address{
    font-style: normal;
    list-style: none;
}

.address-locate{
    color: var(--white);
    text-decoration: none;
}

.address-locate:hover,
.address-locate:focus{
    color: var(--active-link-hover-color);
}

.address-link{
    color: var(--footer-contacts-color);
    text-decoration: none;
}

.address-link:hover,
.address-link:focus{
    color: var(--active-link-hover-color);
}

.navigate-btn{
    background: var(--bg-color-section-white);
    color: var(--main-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.03em;
    text-align: center;
    border-style: none;
    cursor: pointer;
}

.navigate-btn:hover,
.navigate-btn:focus{
    background-color: var(--bg-button-color);
    color: var(--white);
    border-radius: 4px; 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list{
    list-style: none;
}

.example-list h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.example-list p{
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}


/*основной цвет текста #212121*/
/* второстипенный цвет текста #757575*/
/*белый текст #FFFFFF*/
/* футер e-mail и телефон #FFFFFF99*/
/* цвет активной ссылки при наведении #2196F3*/